.list-title {
  color: antiquewhite;
  margin-top: 80px;
  font-weight: 700;
  text-align: center;
}
.list-container {
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: space-around;
}
.item-list {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  gap: 50px;
}
.item img {
  width: 100%;
  height: 250px;
}
.item h2 {
  color: blueviolet;
}
.item p {
  color: grey;
  font-size: 16px;
  margin-bottom: 20px;
}
.item .button {
  font-family: monospace;
  font-weight: bold;
  padding: 10px;
  color: antiquewhite;
  background-color: rgb(33, 33, 33);
}
.item .button:hover {
  background-color: blueviolet;
}
.item-detail {
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.item-detail img {
  width: 30%;
  height: 40%;
}
.item-detail h2 {
  color: blueviolet;
}
.item-detail p {
  color: grey;
  font-size: 16px;
}
.item-count {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.item-count .counter-button {
  font-weight: bold;
  border: none;
  outline: 0;
  padding: 5px;
  color: antiquewhite;
  background-color: rgb(33, 33, 33);
}
.item-count .counter-button:hover {
  opacity: 0.7;
  background-color: blueviolet;
}
.item-count .item-quantity {
  font-size: 16px;
  font-weight: 700;
}
.item-count .buy-button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: 0;
  padding: 10px;
  color: antiquewhite;
  background-color: rgb(33, 33, 33);
}
.item-count .buy-button:hover {
  opacity: 0.7;
  background-color: blueviolet;
}
@media only screen and (max-width: 768px) {
  .item-list {
    flex-flow: column wrap;
  }
}
